<%= flash[:message] %>
<% @shopitems.each do |shopinv| %>
    Name: <%= shopinv.item.name %><br>
    Cost: <%= shopinv.item.cost %><br>
    Quantity: <%= shopinv.quantity %><br>
    <br>
<% end %>
<br>
<h2>Re-Stock</h2>
<%= form_tag('/shopkeeper',  method: :patch) %>
<%= select_tag "item_id", options_from_collection_for_select(@allitems, "id", "name")%><br>
<%= text_field_tag :quantity %><br>
<%= submit_tag "Buy" %>

