<h1><%= @shopkeeper.shop_name %></h2>
<%if @shopkeeper.isOpen == true%>
    <h2><%= @shopkeeper.shop_name%> is OPEN FOR BUSINESS!</h2>
<%elsif @shopkeeper.isOpen == false%>
    <h2><%= @shopkeeper.shop_name %> is CLOSED!<h2>
<%end%>
<h3>Store Inventory</h3>
<% @shopkeeper.get_shopinventories.collect do |inv| %>
    <p>Name: <%= inv.item.name%></p>
    <p>Cost: <%= inv.item.cost%></p>
    <p>Description: <%= inv.item.description%></p>
    <p>Quantity: <%= inv.quantity%></p>
    <br>
<%end%>