<div class="container">
<%= form_for @traveler, url: traveler_path, method: :patch do |f| %>

<%= f.label :job %><br>
<%= f.text_field :job%><br>

<%= f.label :traits %><br>
<%= f.text_field :traits%><br>

<%= f.label :catchphrase %><br>
<%= f.text_field :catchphrase%><br>

<%= f.submit%>
<% end %>
</div>
