



<div class= "container">
  <div class="traveler-info">
  <h2>Hello, from a specfic traveler</h2><br>

<p>Name:<%=@traveler.name%></p><br>
<p>Gold:<%=@traveler.gold%></p><br>
<p>Traits:<%=@traveler.traits%></p><br>
<p>Job:<%=@traveler.job%></p><br>

<p>Catchphrase:<%=@traveler.catchphrase%></p><br>
</div>
<!-- add a grid of cards showing the traveler inventory -->

<%= @traveler.travelerinventories.each do |inventory| %>
<%  
  <div class="card"> <%="#{@traveler.name}'s Stuff" %></div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">stuff</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
  </div>
</div>
