<<<<<<< HEAD
=======

<!-- <h1>Our Travelers</h1>



>>>>>>> 31300831cabfc5e6a54672f3fc6982e79f9e98d7
<div class= "container">
  <h2>Hello, from a specfic traveler</h2><br>

<p>Name:<%=@traveler.name%></p><br>
<p>Gold:<%=@traveler.gold%></p><br>
<p>Traits:<%=@traveler.traits%></p><br>
<p>Job:<%=@traveler.job%></p><br>

<p>Catchphrase:<%=@traveler.catchphrase%></p><br>

<!-- add a grid of cards showing the traveler inventory -->
  <div class="card"><%="#{@traveler.name}'s #{@traveler.travelerinventories}" %></div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">stuff</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
  </div>
</div>
