<h1>Our Travelers</h1>


<div class= "container">
  <h2>Hello, from a specfic traveler</h2><br>

<p>Name:<%=@traveler.name%></p><br>
<p>Gold:<%=@traveler.gold%></p><br>
<p>Traits:<%=@traveler.traits%></p><br>
<p>Job:<%=@traveler.job%></p><br>

<p>Catchphrase:<%=@traveler.catchphrase%></p><br>

<!-- add a grid of cards showing the traveler inventory -->
</div>
