<div class= "container"><h2>Hello from a specfic traveler</h2>

<p>Name:<%=@traveler.name%></p>
<p>Gold:<%=@traveler.gold%></p>
<p>traits:<%=@traveler.traits%></p>
<p>job:<%=@traveler.job%></p>

<p>catchphrase:<%=@traveler.catchphrase%></p>
</div>
