<div class= "container">
  <h2>Hello, from a specfic traveler</h2><br>

<p>Name:<%=@traveler.name%></p><br>
<p>Gold:<%=@traveler.gold%></p><br>
<p>Traits:<%=@traveler.traits%></p><br>
<p>Job:<%=@traveler.job%></p><br>

<p>Catchphrase:<%=@traveler.catchphrase%></p><br>

<!-- add a grid of cards showing the traveler inventory -->
<% @traveler.travelerinventories.each do |inv| %>
<div class="card"> 
  <%= inv.item.name %><br>
  <%= inv.item.description %><br>
  <%= inv.item.cost %><br>
  <%= inv.quantity %><br>
</div>

<% end %>

