<div class="container">

  <form class="signup" action="/signup" method="post">

    <%= form_tag signup_path do %>
    <%= label_tag :name %><br>
    <%= text_field_tag :name %><br>

    <%= label_tag :password %><br>
    <%= password_field_tag :password %><br>

    <%= label_tag :password_confirmation %><br>
    <%= password_field_tag :password_confirmation %><br>

    <%= label_tag :job %><br>
    <%= text_field_tag :job %><br>

    <%= label_tag :traits %> <br>
    <%= text_field_tag :traits %> <br>

    <%= label_tag :catchphrase %><br>
    <%= text_field_tag :catchphrase %><br>

    <%= submit_tag "Adventure Awaits!" %>
    <% end %>

  </form>

</div>
