<div class= "container>"

  <div class="shopping">
    <% @shopitems.each do |shopinv| %>
          <img src= <%= shopinv.item.image_url %> ><br>
          <p>Name: <%= shopinv.item.name %></p>
          <img src=<%= inv.item.image_url%>>
          <p>Cost: <%= shopinv.item.cost %></p>
          <p>Description: <%= shopinv.item.description %></p>
          <p>Quantity: <%= shopinv.quantity %></p><br>
          
      <% end %>

      <a href="shopping/buy"><button class="btn btn-success">Buy</button></a>

      <%# <%= button_to "shopping/buy", traveler_path, method: :get, class: 'btn btn-info'%>
      </div>
</div>
