<div class= "container>"<% @shopitems.each do |shopinv| %>

<p>Name: <%= shopinv.item.name %></p>
<p>Cost: <%= shopinv.item.cost %></p>
<p>Description: <%= shopinv.item.description %></p>
<p>Quantity: <%= shopinv.quantity %></p>
<br>
<% end %>

<a href="shopping/buy"><button class="btn btn-success">Buy</button></a>
<%# <%= button_to "shopping/buy", traveler_path, method: :get, class: 'btn btn-info'%> %>
</div>
